@font-face {
    font-family: dot_matrix;
    src: url(./fonts/dot_matrix/DOTMATRI.TTF);
}

body {
  background-color: #F1F1F1;
}

.brand {
  font-family: 'dot_matrix';
  color: #606060;
}

.matrix-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  margin-left: 10%;
  height: 40vw;
}
.circle {
  width: 1.56%;
  border-radius: 50%;
  border: 1px solid #979797;
  cursor: pointer;
}

.palette-container {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  flex-shrink: 0;
  margin-top: 25px;
  padding-right: 10px;
  height:100%;
}
.swatch-circle-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  flex-grow:1;
}
.swatch-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /*border: 1px solid #979797;*/
  cursor: pointer;
  margin-right: 5px;

}

.shadow {
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
}
.circle-shadow {
    box-shadow: 0px 0px 1px #5A5A5A;
    z-index: 2;
}
.grey {
  background-color: #F1F1F1;
}

.white {
  background-color: white;
}
