@font-face {
    font-family: dot_matrix;
    src: url(./fonts/dot_matrix/DOTMATRI.TTF);
}

body {
  background-color: #F1F1F1;
}

.brand {
  font-family: 'dot_matrix';
  color: #606060;
}

.circle {
  width: 1.56%;
  border-radius: 50%;
  border: 1px solid #979797;
  cursor: pointer;
}

.swatch-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #979797;
  cursor: pointer;
  margin-right: 5px;
  display:flex;
  flex-direction: row;
  align-self: middle;
}

.matrix-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 80vw;
  margin-left: 10%;
  height: 40vw;
}

.palette-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-shrink: 0;
  padding-top: 25px;
  padding-right: 10px;
  vertical-align: middle;
  align-content:middle;
  align-items: middle;

}

.shadow {
    box-shadow: 0px 0px 20px #000000;
    z-index: 2;
}

.circle-shadow {
    box-shadow: 0px 0px 1px #5A5A5A;
    z-index: 2;
}

.grey {
  background-color: #F1F1F1;
}

.white {
  background-color: white;
}
